#cblogo{
    height: 43px;
    width: 120px;
    position: relative;
    top: 5px;
    left: 0px;
}
div{
    display: inline-block;
}
/* div #searchbar{
    position: relative;
    top: -10px;
    left: 50px;
}
#searchbar img{
    height: 20px;
    width: 20px;
} */