div{
    height: 100px;
    width: 100px;
    color: white;
    background-color: red;
    /* opacity: 0.5; */
    /* margin: 2px; */
    text-align: center;
    /* position: relative; */
    display: inline-block;
    border: solid 2px black ;
    
}
div p{
    align-items: center;
    position: relative;
    top: 50px;
    
}
#face1{
 /* transform: translate(100px,0px); */
}
#face2{
    
}
#face3{
  transform: translate(0px,100px) rotateX(50deg);;

}
#face4{
  
}
#face5{
    
 /* transform: translate(100px,0px); */
}
#face6{
    
 /* transform: translate(100px,0px); */
}